<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Bem-vindo à Página Inicial</h1>
    <div class="d-flex justify-content-center">
      <a href="/usuarios" class="btn btn-dark">Ver Usuários</a>
    </div>
  </body>
</html>
