<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes do Usuário</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Detalhes do Usuário</h1>
    <div class="user-container">
      <p><strong>ID:</strong> <%= usuario.id %></p>
      <p><strong>Nome:</strong> <%= usuario.nome %></p>
      <p><strong>Email:</strong> <%= usuario.email %></p>
      <p><strong>Data de Nascimento:</strong> <%= usuario.data_nascimento %></p>
    </div>
  </body>
</html>
